@import url(http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica);

body {
    background-image: url(../img/bg_top.png), url(../img/bg.png);
    background-position: top, top;
    background-repeat: repeat-x, repeat;
    font-family: 'IM Fell DW Pica', serif;
} 


h1 {
    text-align: center;
    font-size: 48px;
    text-shadow: -2px 0 #ccc, 0 2px #ccc, 2px 0 #ccc, 0 -2px #ccc;
}

h2 {
    margin: 5pt 0;
}

#error {
    background-color:rgba(156,62,58,0.7);
    color: #000;
    border: 2px solid #592320;
}

#errormsg {
    font-size: 1.1em;
}

#error a {
    color: #000;
}

#error code {
    font-size: 1.2em;
    background-color:rgba(0,0,0,0.15);
}

.rounded {
    padding: 1em;
    border-radius: 10px;
    max-width: 700px;
    margin: 1ex auto;
}

.dark {
    background-color:rgba(0,0,0,0.5);
    color: #eee;
    border: 2px solid #222;
}

.dark code {
    font-size: 1.2em;
    background-color:rgba(90,90,90,0.3);
}

.dark a {
    color: #fff;   
}

#filechooser_link {
    font-size: 1.1em;
}

.slideable {
    -moz-transition: max-height 0.5s ease-in;
    -o-transition: height 0.5s ease-in;
    -webkit-transition: height 0.5s ease-in;
    -ms-transition: height 0.5s ease-in;
    transition: height 0.5s ease-in;
    overflow: hidden;
    max-height: 500px;
}

#step2 div, #step3 div {
    text-align: center;
}

#leveldesc {
    font-size: 0.8em;
    text-shadow: -1px 0 1px #000, 0 1px 1px #000, 1px 0 1px #000, 0 -1px 1px #000;
}

h2#levelname {
    margin-top: 0;
    font-size: 22pt;
    text-shadow: -3px 0 1px #000, 0 3px 1px #000, 3px 0 1px #000, 0 -3px 1px #000;
}

.switch {
    margin: 1em auto;
    cursor: pointer;
}

.switch span {
    font-weight: bold;
    font-size: 1.3em;
    border: 0;
    padding: 1ex 2ex;
    background-color:rgba(0,0,0,0.4);
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.switch span#creative {
    border-left: 2px solid #000;
    border-right: 1px solid #000;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.switch span#survival {
    border-right: 2px solid #000;
    border-left: 1px solid #000;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.switch span.disabled {
    color: #101010;
    text-shadow: 0px 0px 3px #666;
}

.switch span#creative.disabled {
    box-shadow: inset 5px 8px 10px #000;
}

.switch span#survival.disabled {
    box-shadow: inset -5px 8px 10px #000;
}

.switch span.active {
    background-color: #578010;
    box-shadow: inset 0 0 9px #000;
    color: #111;
    text-shadow: -1px 0 1px #ddd, 0 1px 1px #ddd, 1px 0 1px #ddd, 0 -1px 1px #ddd;
}

#step3 > div {
    margin: 1em;
}

#download {
    font-size: 1.3em;
    margin: 1.5em 0;

}

#download a {
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    border: 2px solid #000;
    padding: 0.8ex 1.7ex;
    background-color: #2b5491;
    box-shadow: inset 0 0 10px #000;
    color: #111;
    text-shadow: -1px 0 1px #ddd, 0 1px 1px #ddd, 1px 0 1px #ddd, 0 -1px 1px #ddd;
}

#credits {
    text-align: center;
    padding: 1em;
    max-width: 700px;
    margin: 1ex auto;
    font-size: 0.8em;
    opacity: 0.75;
    font-family: monospace;
    text-shadow: -1px 0 1px #333, 0 1px 1px #333, 1px 0 1px #333, 0 -1px 1px #333;
}

#credits a {
    color: #111;
}
